# dependencies
/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/coverage
.coveralls.yml
.env
.nyc_output
npm-debug.log
yarn-error.log
/public

# System Files
.DS_Store
Thumbs.db
