script(async, charset='utf-8', crossorigin='anonymous', src='https://platform.twitter.com/widgets.js')
script(async, defer, crossorigin='anonymous', src='https://connect.facebook.net/' + language.social + '/sdk.js#xfbml=1&version=v6.0&appId=455722034559896&autoLogAppEvents=1')
