include scripts/social
header.navbar.navbar-dark.sticky-top
  a.brand(href='/' + language.key)
    img(src='/img/faviconit-logo.svg', alt='logo')
  ul.nav.justify-content-end
    li.nav-item.social-button#facebook
      include head/facebook
    li.nav-item.social-button#twitter
      include head/twitter
    li.nav-item.dropdown.nav-pills
      include head/languages
