doctype html
html(lang=language.key, dir=language.dir)
  head
    include ../html/head.pug
  body
    include head.pug
    div.container-fluid
      block content
    include foot.pug
    include ../html/foot.pug

