div.container-fluid
  div.row#ad-top
    div.col
      include scripts/ad-horizontal-top
  div.row
    div.col-6
        block content
  div.col-3#ad-side
    include scripts/ad-vertical-1
  div.col-3#ad-side
    include scripts/ad-vertical-2
